@media (max-width:768px) {
    .main {
        padding: 0;
    }

    .container {
        padding-top: 80px;
        padding-bottom: 60px;
        padding-left: 31px;
        padding-right: 31px;
        min-height: calc(100vh - 140px);
        overflow-y: auto;
    }

    p:first-of-type {
        display: none;
    }

    p {
        font-size: 14px;
    }

    .regular-medium-font {
        font-size: var(--mobile-medium-font);
        text-align: center;
    }

    .create-config-button {
        max-width: 60px;
        min-height: 50px;
        font-size: 0;
    }

    .search-block {
        padding: 12px 15px;
        min-height: 75px;
        flex-wrap: nowrap;
    }

    .search-input {
        min-height: 50px;
        padding: 0 25px;
        font-size: var(--mobile-small-font);
    }

    .my-config-section {
        padding: 15px;
        max-height: 235px;
        height: 100%;
    }

    .my-config-pre-background {
        padding: 30px;
        max-height: 185px;
    }

    .create-button {
        max-width: 175px;
        min-height: 60px;
        font-size: var(--mobile-huge-font);
    }
}
