@media (max-width:425px) {
    main.main-catalog {
        width: 320px;
    }
}

@media (max-width:768px) {
    main.main-catalog {
        max-width: 630px;
    }

    .all-components-section {
        gap: 10px;
    }

    .component-block {
        max-height: 190px;
        max-width: 150px;
        padding: 15px;
    }

    .component-block > img {
        min-height: 120px;
    }

    .component-block > p {
        margin-top: 10px;
        font-size: var(--mobile-medium-font);
        line-height: 20px;
    }
}

@media (max-width:425px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .all-components-section {
        gap: 20px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    main.main-catalog {
        max-width: 1130px;
    }
}
