.container {
    padding: 0;
}

.admin-header {
    max-height: 100px;
    background-color: var(--block-background-color3);
}

.admin-header>a {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 30px;
    left: 15px;
}

.admin-main {
    height: auto;
}

.admin-nav-bar {
    max-width: 400px;
    background-color: var(--block-background-color3);
    min-height: calc(100vh - 100px);
}

.admin-nav-bar>a {
    min-height: 100px;
    font-size: 24px;
}

.admin-content-bar {
    width: 100%;
    padding: 40px 100px;
}

.admin-welcome-title {
    font-size: 30px;
    font-weight: bold;
}

.admin-content-block {
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 30px;
}

.admin-content-block>a {
    max-width: 250px;
    min-height: 300px;
    background-color: var(--block-background-color3);
    padding: 20px;
    text-align: center;
    font-size: var(--small-font);
    font-weight: bold;
    color: var(--white-color);
}

.admin-content-block>a>.image {
    min-height: 210px;
    background-color: var(--white-color);
}

footer.admin-nav {
    display: none;
}

.admin-create-main {
    margin-top: 40px;
}

.admin-create-main > .admin-create-left-bar {
    max-width: 700px;
    gap: 10px;
}

.admin-content-bar > div:last-child > form {
    max-height: 100%;
}

.admin-create-block > label {
    font-size: 24px;
    font-weight: bold;
}

.admin-create-block > input, select {
    min-height: 40px;
    border: 1px solid var(--block-background-color4);
    font-size: 18px;
    font-weight: normal;
    padding: 0 15px;
}

.admin-create-button {
    margin-top: 40px;
    max-width: 550px;
    min-height: 100px;
    font-size: 24px;
    font-weight: bold;
}

.admin-content-bar > div > h1 > span {
    text-transform: lowercase;
}