body.admin-body {
    gap: 0;
}

header.admin-header {
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    background-color: var(--block-background-color3);
}

.admin-main {
    height: 100%;
}

.admin-left-bar {
    max-width: 400px;
    background-color: var(--block-background-color3);
}

.admin-right-bar {
    padding: 40px 100px;
    height: fit-content;
}

.admin-action-block {
    width: 100%;
    height: 100px;
    background-color: var(--header-and-footer-background-color);
    color: var(--white-color);
}

.go-back {
    max-height: 80px;
    border-radius: 0;
}

.mobile-admin-nav, .mobile-admin-header {
    display: none;
}
