/*Шапака сайта*/

.header {
    min-height: 150px;
    padding: 0 150px;
    flex-wrap: wrap;
}

.left-header {
    gap: 20px;
}

.logotype {
    width: 150px;
    height: 75px;
}

.catalog-link {
    width: 250px;
    height: 75px;
}

.right-header {
    gap: 25px;
}

.right-header > a {
    color: var(--white-color);
}

/*Подвал*/

.mobile-footer {
    display: none;
}

.up-footer {
    width: 100%;
    min-height: 250px;
}

.down-footer {
    background-color: #000;
    padding: 0 150px;
    min-height: 120px;
}

.right-down-footer {
    gap: 20px;
}

.right-down-footer a {
    color: var(--white-color);
}
