@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    flex-direction: column;
    max-width: 500px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 30px ;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

input {
    width: 500px;
    height: 40px;
    border: solid 1px;
    border-radius: 6px;
    opacity: .7;
    font-size: 18px;
    padding: 0 20px;
}

#register-button {
    width: 300px;
    height: 60px;
    background-color: #FBC04C;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#goBack-button{
    color: #000;
    padding: 0 20px;
    max-width: 370px;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (max-width: 600px) {
    form {
        align-items: center;
    }

    body {
        overflow: hidden;
    }

    h1 {
        font-size: 24px;
    }

    input {
        max-width: 300px;
        width: 100%;
    }

    .title {
        font-size: 18px;
    }

    #register-button {
        width: 200px;
        font-size: 16px;
    }

    #goBack-button {
        max-width: 275px;
        min-width: 250px;
        width: 100%;
        font-size: 12px;
    }
}
