/*Стили для секции поиска*/

.main {
    max-width: 1620px;
    width: 100%;
}

.search-section {
    width: 100%;
}

.search-block {
    max-width: 1580px;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    padding: 15px 40px;
    gap: 10px;
    flex-wrap: wrap;
}

.create-config-button {
    max-width: 250px;
    min-height: 60px;
}

.search-input {
    max-width: 1230px;
    min-height: 60px;
    padding: 0 30px;
}

.my-config-section {
    max-width: 1580px;
    max-height: 480px;
    padding: 40px;
    margin-top: 20px;
}

.my-config-pre-background {
    max-height: 400px;
    height: 100%;
    background-color: var(--block-background-color3);
    flex-direction: column;
    gap: 15px;
    font-weight: 400;
    padding: 95px;
}

p:last-child {
    opacity: .6;
}

.create-button {
    max-width: 400px;
    min-height: 100px;
}
